<p style="color: green"><%= notice %></p>

<%= render @unit_model_type %>

<div>
  <%= link_to "Edit this unit model type", edit_unit_model_type_path(@unit_model_type) %> |
  <%= link_to "Back to unit model types", unit_model_types_path %>

  <%= button_to "Destroy this unit model type", @unit_model_type, method: :delete %>
</div>
