<p style="color: green"><%= notice %></p>

<%= render @unit_chassi %>

<div>
  <%= link_to "Edit this unit chassi", edit_unit_chassi_path(@unit_chassi) %> |
  <%= link_to "Back to unit chassis", unit_chassis_path %>

  <%= button_to "Destroy this unit chassi", @unit_chassi, method: :delete %>
</div>
