<div id="<%= dom_id option_role_requirement %>">
  <p>
    <strong>Option:</strong>
    <%= option_role_requirement.option %>
  </p>

  <p>
    <strong>Requirement:</strong>
    <%= option_role_requirement.requirement %>
  </p>

  <p>
    <strong>Min:</strong>
    <%= option_role_requirement.min %>
  </p>

  <p>
    <strong>Max:</strong>
    <%= option_role_requirement.max %>
  </p>

</div>
