<div id="<%= dom_id option %>">
  <p>
    <strong>Name:</strong>
    <%= option.name %>
  </p>

  <p>
    <strong>Tv:</strong>
    <%= option.tv %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= option.description %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= option.type %>
  </p>

  <p>
    <strong>Armymax:</strong>
    <%= option.armymax %>
  </p>

  <p>
    <strong>Cgmax:</strong>
    <%= option.cgmax %>
  </p>

</div>
