<div id="<%= dom_id option_sublist_requirement %>">
  <p>
    <strong>Option:</strong>
    <%= option_sublist_requirement.option %>
  </p>

  <p>
    <strong>Requirement:</strong>
    <%= option_sublist_requirement.requirement %>
  </p>

  <p>
    <strong>Min:</strong>
    <%= option_sublist_requirement.min %>
  </p>

  <p>
    <strong>Max:</strong>
    <%= option_sublist_requirement.max %>
  </p>

</div>
