<%= form_with(model: unit_faction) do |form| %>
  <% if unit_faction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(unit_faction.errors.count, "error") %> prohibited this unit_faction from being saved:</h2>

      <ul>
        <% unit_faction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :unit, style: "display: block" %>
    <%= form.number_field :unit %>
  </div>

  <div>
    <%= form.label :faction, style: "display: block" %>
    <%= form.number_field :faction %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
