<%= form_with(model: unit_movement_mode) do |form| %>
  <% if unit_movement_mode.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(unit_movement_mode.errors.count, "error") %> prohibited this unit_movement_mode from being saved:</h2>

      <ul>
        <% unit_movement_mode.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :unit, style: "display: block" %>
    <%= form.number_field :unit %>
  </div>

  <div>
    <%= form.label :movement_type, style: "display: block" %>
    <%= form.number_field :movement_type %>
  </div>

  <div>
    <%= form.label :value, style: "display: block" %>
    <%= form.number_field :value %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
