<p style="color: green"><%= notice %></p>

<%= render @option_weapon_upgrade %>

<div>
  <%= link_to "Edit this option weapon upgrade", edit_option_weapon_upgrade_path(@option_weapon_upgrade) %> |
  <%= link_to "Back to option weapon upgrades", option_weapon_upgrades_path %>

  <%= button_to "Destroy this option weapon upgrade", @option_weapon_upgrade, method: :delete %>
</div>
