<div id="<%= dom_id option_option_requirement %>">
  <p>
    <strong>Option:</strong>
    <%= option_option_requirement.option %>
  </p>

  <p>
    <strong>Requirement:</strong>
    <%= option_option_requirement.requirement %>
  </p>

  <p>
    <strong>Min:</strong>
    <%= option_option_requirement.min %>
  </p>

  <p>
    <strong>Max:</strong>
    <%= option_option_requirement.max %>
  </p>

</div>
