<p style="color: green"><%= notice %></p>

<%= render @option_option_requirement %>

<div>
  <%= link_to "Edit this option option requirement", edit_option_option_requirement_path(@option_option_requirement) %> |
  <%= link_to "Back to option option requirements", option_option_requirements_path %>

  <%= button_to "Destroy this option option requirement", @option_option_requirement, method: :delete %>
</div>
